.chart {
    -fx-background-color: #363636;
}

/* The actual line itself. */
.chart-series-line {
    -fx-stroke-width: 3px;
    -fx-effect: null;
}

/* The line color */
.default-color0.chart-series-line {
    -fx-stroke: #00ad00;
}

/* The dots on the line */
.default-color0.chart-line-symbol {
    -fx-background-color: #00ad00, #262626;
}

.chart-plot-background {
    -fx-background-color: #707d72;
}

.chart-vertical-grid-lines {
    -fx-stroke: black;
}

.chart-horizontal-grid-lines {
    -fx-stroke: black;
}

.chart-alternative-row-fill {
    -fx-fill: #5f6960;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

.chart-legend {
   -fx-background-color:  transparent;
   -fx-padding: 20px;
}

/* The legend text */
.chart-legend-item {
    -fx-text-fill: #c3c3c3;
}

/* The symbol on the legend */
.chart-legend-item-symbol {
   -fx-background-radius: 0;
   -fx-stroke: #e9967a;
}